@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px 2px 5px;
  cursor: url(/img/raised-eyebrows-emoji.png) 10 10, pointer;
  cursor: -webkit-image-set(url(/img/raised-eyebrows-emoji.png) 1x) 10 10,
    pointer;
}

.main-bg {
  background-image: url(/img/bg-full.jpg);
}

.main-heading {
  font-size: 100px;
  line-height: 0.7;
}

@media (min-width: 1024px) {
  .main-bg {
    background-image: url(/img/bg.jpg);
  }

  .main-heading {
    font-size: 160px;
  }
}
